NEXTAUTH_SECRET=47b168771dcffb635bebc76280a04fca
NEXTAUTH_URL=http://localhost:3000

# For multi-container setup (Docker)
# MongoDB Configuration - local container
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=your_secure_password_here
MONGODB_URI=mongodb://admin:your_secure_password_here@mongodb:27017/saviai_db?authSource=admin

# AI Service Configuration
AI_SERVICE_URL=http://ai-service:5000

# For production - external MongoDB
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority&appName=AppName
